
#section1{
    position:relative;
    padding-top: 260px;
    background-color:#f1f1f1;
    color:#0d1d41;
    padding-bottom:40px;
    height:500px;
}
#section1 h4{
  margin-left:250px;
  margin-right:250px;
}
.section2{
    padding-top:150px;
    background-color:#B5B0A4;
    padding-bottom:20px;
}
#section3{
    background-color:#C7D6E9;
    padding-top:20px;
    color:#0D1D41;
    padding-bottom:20px;
    padding-top:65px;
    height:auto;
}
#section3 h4{
    margin-bottom: 0;
    text-decoration: underline;
    font-weight:600;
}
#section3 h3{
    font-weight:600;
}
#section3 p{
    text-align: left;
    font-size: 15px;
}
.class-description{
    margin-left:15px;
    margin-right:10px;
}
.Logo{

    position:absolute;
    bottom:-25px;
    width: 100%;
    padding-top:12px;
}
.Logo h3{
    font-size: 40px;
    text-align: center;
}
.drop{
    margin:0 auto;
    width:250px;

}

.schedule-container{
    margin-left: auto; 
    margin-right:auto;
    
}

.week-schedule{
  width:17%;
}


.day{
    border-bottom: 1px solid #C7D6E9;
    border-radius:2px;
/*    background-color:#B5B0A4;*/
    background-color:#C7D6E9;
    color:black;
    box-shadow: 0 3px 7px 0 #777;
}
.day h3{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    padding-top: 5px;
}
.details{
    text-align: center;
    font-weight: 200;
    font-size:16px;
    background-color:#0D64B2;
    padding-bottom: 8px;
    padding-right:2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 3px 7px 0 #777;

/*                font-family: 'Roboto', sans-serif;*/
    color:White;
}
.location{

}
.date{
    font-size: 14px;
}
.time{

}
.class-name{
    border-top:1px solid #B5B0A4;
}
.info{
    margin-left: 5px;
}

/*
*   mobile view for data in section 2
*/
@media (max-width: 992px) {
   
    .schedule-container{
        margin-left:auto;
        margin-right: auto;
    }
    .week-schedule{
        margin-left:auto;
        margin-right:auto;
        width:70%;
    }
    .details{
        font-size: 30px;

    }
    .day h3{
        font-size:40px;
    }
    
    #section1{
        padding-top: 170px;
    }
    #section2{
        height:auto;
    }
    #section1 h4{
      margin-left:auto;
      margin-right:auto;
    }
    #section3{
        height: auto;
    }
}

