#section1{

    position:relative;

/*    background-color:#;*/
    color:White;
    padding-bottom:40px;
    height:234px;
    /*background-color: rgba(35, 35, 35, 0.77);*/

}

 body{
    background:linear-gradient(rgba(20,20,20, .3),rgba(20,20,20, .3)), url("../images/mac.jpg") ;
    background-positin:center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-color:#464646;

}

#section1 h4{
  margin-left:250px;
  margin-right:250px;

}
#section2{
    padding-top: 20px;
}
.week-date{
  /*styling for the schedule week information*/
  color:white;
}
.week-container{
  /*container for week dates of the current schedule*/
  margin-left: 12px;
}
.today-container{
  /*container for today's schedule anchor*/
}
.Logo{

    position:absolute;
    bottom:-25px;
    width: 100%;
    padding-top:12px;
}
.Logo h3{
    font-size: 40px;
    text-align: center;
    color:White;
}
.drop{
    margin:0 auto;
    width:250px;

}
.wrapper{
  /*background-color: rgba(35, 35, 35, 0.77);*/
}

/*
*   Schedule boxes css
*/
.week-schedule{
  /*Each box container*/
  transition:.4s all;
  box-shadow: 0px 0px 0px 0px rgba(250, 250, 250, 0.81);
}
.day{
  /*day container*/
  background-color: rgba(250, 250, 250, 0.81);
  color:#515B98;
  box-shadow: 0 3px 7px 0 #777;
  padding: 1px;
  text-align: center;
  margin-top:15px;
}
.day-container{
  margin-top:4px;
}
.day p{
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 5px;
}
.details{
  /*container for each class description */
  overflow: auto; /* adds scrollbar if internal elements or text exceed height */
  background-color: rgba(28, 65, 138, 0.69);
  color:white;
  height:236px;
  padding-top:4px;
  text-align: center;


}
.class-list{
  /*each class listing*/
  padding-top:6px;
  color:White;
}
.class-name{
  /* styling for class name in each class listing*/
  font-weight: bold;
}
.time{
  font-weight: bold;
}
.bordered{
  /*spacing for the first class listing*/
  margin-top:10px;
}
.border-top{
  /*padding for rest of the class listing*/
  padding-top: 15px;
  border-top:1px solid white;
}

/*Styling for scrollbars that appear on the page*/
.details::-webkit-scrollbar {
    width: 8px;
}

.details::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.details::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.79);
}
.test{
  margin-left: auto;
  margin-right: auto;
}

/*
*styling for footer
*/
.footer{
   clear: both;
  /*background-color: rgba(35, 35, 35, 0.77);*/
}
.links{
  /*styling for external links container or items not independently styled*/
  color:white;
}
.links a{
  /*styling for the external links provided in the footer*/
  color:rgba(113, 190, 255, 0.85);
}
.copy{
  font-size:14px;
  color:white;
  font-weight: bold;
}
