#section1{
    position:relative;
    color:White;
    padding-bottom:40px;
    height:auto;
}

 body{
    background:linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)), url("../images/mac.jpg") ;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#464646;
    -webkit-transform: translate3d(0, 0, 0);
    box-sizing: content-box;
}

#section1 h4{
  margin-left:250px;
  margin-right:250px;

}
#section2{
    padding-top: 20px;
    visibility: hidden;
}
#fit-schedule{
  visibility: hidden;
  transition: .4s ease-in;
}
.show-visibility{
  /*shows the hidden item with a slide down animation*/
  visibility:visible !important;
  animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

}
@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}
.show-visibilitys{
  /*shows the hidden item with a slide down animation*/
  visibility:visible !important;
  animation-name: slideDowns;
	-webkit-animation-name: slideDowns;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-in;

}
@keyframes slideDowns {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(0%);
	}
	65%{
		transform: translateY(0%);
	}
	80%{
		transform: translateY(0%);
	}
	95%{
		transform: translateY(0%);
	}
	100% {
		transform: translateY(0%);
	}
}


.week-date{
  /*styling for the schedule week information*/
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:white;
}
.week-container{
  /*container for week dates of the current schedule*/
  margin-left: 12px;
}
.today-container{
  /*container for today's schedule anchor*/
  margin:10px 0;
}
.Logo{

    position:absolute;
    bottom:-25px;
    width: 100%;
    padding-top:12px;
}
.Logo h3{
    font-family:Verdana, Geneva, sans-serif;
    font-size: 40px;
    text-align: center;
    color:White;
}
.drop{
    margin:0 auto;
    width:250px;

}
.picture{
  /*styling for logo image*/
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
.wrapper{
  /*background-color: rgba(35, 35, 35, 0.77);*/

}

/*
*   Social media bar CSS
*/
.mobile-social-share {
    background: none repeat scroll 0 0;
    display: block !important;
    min-height: 70px !important;
    margin: 5px 0;
}

.mobile-social-share p {
    color: White;
    float: left;
    font-size: 15px;
    line-height: 20px;
    margin: 25px 25px 0 25px;
}
.share-text{
  /*styling for share text*/
  color:white;
  text-align:right;
}
.share-group {
    float: right;
}

.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.mobile-social-share ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 50px;
    padding: 0;
}

.share {
    min-width: 17px;
}

.mobile-social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
    transition: all .4 ease-in-out;
}

.s_share {
    background-color: #BEBEBE;
    border-color: #CCCCCC;
    color: #333333;
}

.s_twitter {
    background-color: #3399CC !important;
    width: 40px;
    color:#FFFFFF!important;
}

.s_facebook {
    background-color: #3D5B96 !important;
    width: 40px;
    color:#FFFFFF!important;
}

.s_facebook {
    background-color: #3D5B96 !important;
    width: 40px;
    color:#FFFFFF!important;
}

.s_plus {
    background-color: #DD3F34 !important;
    width: 40px;
    color:#FFFFFF!important;
}

.s_pinterest {
    background-color: #CC1E2D !important;
    width: 40px;
    color:#FFFFFF!important;
}

.btn-mail {
    background-color: #FFC90E !important;
    width: 51px;
    color:#FFFFFF!important;
}

.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}
.dropdown-menu>li>a{
  padding:3px 14px;
}
#socialShare {
    max-width:59px;
    margin-bottom:18px;
}

#socialShare > a{
    padding: 6px 10px 6px 10px;
}

@media (max-width : 320px) {
    #socialHolder{
        padding-left:5px;
        padding-right:5px;
    }

    .mobile-social-share h3 {
        margin-left: 0;
        margin-right: 0;
    }

    #socialShare{
        margin-left:5px;
        margin-right:5px;
    }

    .mobile-social-share h3 {
        font-size: 15px;
    }
}

@media (max-width : 238px) {
    .mobile-social-share h3 {
        font-size: 12px;
    }
}


/*
*   Schedule boxes css
*/
.week-schedule{
  /*Each box container*/
  transition:.45s ease-in;
  box-shadow: 0px 0px 0px 0px rgba(250, 250, 250, 0.81);

}
.day{
  /*day box */
  background-color: rgba(250, 250, 250, 0.81);
  color:#515B98;
  box-shadow: 0 3px 7px 0 #777;
  padding: 1px;
  text-align: center;
  margin-top:15px;
  overflow:hidden;
}
.day-container{
  /*container for items within day box*/
  margin-top:4px;
}
.day-text{
  /*text for day */
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 5px;
  display: inline-block;
}
.checkin-day{
  /*styling for checkin option/selection*/
  float:right;
  animation-delay: 10s;
  animation: 2s color-change ease-in-out infinite;
}

@keyframes color-change {
    /*Color change function for checkin option*/
    0% { color: black; }
    50% { color: red;}
    100% { color: black; }
}
/*.checkin-day-container{
  float:right;
  width:30%;
  height:100%;
}*/
.details{
  /*container for each class description */
  overflow: auto;   /* adds scrollbar if internal elements or text exceed height */
  background-color: rgba(28, 65, 138, 0.69);
  color:white;
  height:0; /*236px*/
  padding-top:4px;
  text-align: center;


}
.show {
  height:236px;
  transition-duration: .8s;
  transition: height .4s ease-in;
}
.class-list{
  /*each class listing*/
  padding-top:6px;
  color:White;
}
.class-name{
  /* styling for class name in each class listing*/
  font-weight: bold;
}
.time{
  font-weight: bold;
}
.bordered{
  /*spacing for the first class listing*/
  margin-top:10px;
}
.border-top{
  /*padding for rest of the class listing*/
  padding-top: 15px;
  border-top:1px solid white;
}

/*Styling for scrollbars that appear on the page*/
.details::-webkit-scrollbar {
    width: 8px;
}

.details::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.details::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.79);
}
.test{
  margin-left: auto;
  margin-right: auto;
}

/*
*styling for footer
*/
.footer{
   clear: both;
   height:0;
  /*background-color: rgba(35, 35, 35, 0.77);*/
}
.wrap{
  opacity:0;
}
.show-section{
  opacity:1;
  transition-duration: .8s;
  transition: opacity .4s ease-in;
}
.links{
  /*styling for external links container or items not independently styled*/
  color:white;
}
.links a{
  /*styling for the external links provided in the footer*/
  color:rgba(113, 190, 255, 0.85);
}
.copy-right{
  margin-top:10px;
}
.copy{
  font-size:14px;
  color:white;
  font-weight: bold;
}
