#section1{

    position:relative;

/*    background-color:#;*/
    color:White;
    padding-bottom:40px;
    height:auto;
    /*background-color: rgba(35, 35, 35, 0.77);*/

}

 body{
    background:linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)), url("../images/mac.jpg") ;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-color:#464646;

}

#section1 h4{
  margin-left:250px;
  margin-right:250px;

}
#section2{
    padding-top: 20px;
}
.week-date{
  /*styling for the schedule week information*/
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:white;
}
.week-container{
  /*container for week dates of the current schedule*/
  margin-left: 12px;
}
.today-container{
  /*container for today's schedule anchor*/
  margin:10px 0;
}
.Logo{

    position:absolute;
    bottom:-25px;
    width: 100%;
    padding-top:12px;
}
.Logo h3{
    font-family:Verdana, Geneva, sans-serif;
    font-size: 40px;
    text-align: center;
    color:White;
}
.drop{
    margin:0 auto;
    width:250px;

}
.picture{
  /*styling for logo image*/
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
.wrapper{
  /*background-color: rgba(35, 35, 35, 0.77);*/
}

/*
*   Social media bar CSS
*/
.mobile-social-share {
    background: none repeat scroll 0 0;
    display: block !important;
    min-height: 70px !important;
    margin: 5px 0;
}

.mobile-social-share p {
    color: White;
    float: left;
    font-size: 15px;
    line-height: 20px;
    margin: 25px 25px 0 25px;
}
.share-text{
  /*styling for share text*/
  color:white;
  text-align:right;
}
.share-group {
    float: right;
}

.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.mobile-social-share ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 50px;
    padding: 0;
}

.share {
    min-width: 17px;
}

.mobile-social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
    transition: all .4 ease-in-out;
}

.btn-share {
    background-color: #BEBEBE;
    border-color: #CCCCCC;
    color: #333333;
}

.btn-twitter {
    background-color: #3399CC !important;
    width: 40px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 40px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 40px;
    color:#FFFFFF!important;
}

.btn-plus {
    background-color: #DD3F34 !important;
    width: 40px;
    color:#FFFFFF!important;
}

.btn-pinterest {
    background-color: #CC1E2D !important;
    width: 40px;
    color:#FFFFFF!important;
}

.btn-mail {
    background-color: #FFC90E !important;
    width: 51px;
    color:#FFFFFF!important;
}

.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}
.dropdown-menu>li>a{
  padding:3px 14px;
}
#socialShare {
    max-width:59px;
    margin-bottom:18px;
}

#socialShare > a{
    padding: 6px 10px 6px 10px;
}

@media (max-width : 320px) {
    #socialHolder{
        padding-left:5px;
        padding-right:5px;
    }

    .mobile-social-share h3 {
        margin-left: 0;
        margin-right: 0;
    }

    #socialShare{
        margin-left:5px;
        margin-right:5px;
    }

    .mobile-social-share h3 {
        font-size: 15px;
    }
}

@media (max-width : 238px) {
    .mobile-social-share h3 {
        font-size: 12px;
    }
}


/*
*   Schedule boxes css
*/
.week-schedule{
  /*Each box container*/
  transition:.4s all;
  box-shadow: 0px 0px 0px 0px rgba(250, 250, 250, 0.81);
}
.day{
  /*day container*/
  background-color: rgba(250, 250, 250, 0.81);
  color:#515B98;
  box-shadow: 0 3px 7px 0 #777;
  padding: 1px;
  text-align: center;
  margin-top:15px;
}
.day-container{
  margin-top:4px;
}
.day p{
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 5px;
}
.details{
  /*container for each class description */
  overflow: auto; /* adds scrollbar if internal elements or text exceed height */
  background-color: rgba(28, 65, 138, 0.69);
  color:white;
  height:236px;
  padding-top:4px;
  text-align: center;


}
.class-list{
  /*each class listing*/
  padding-top:6px;
  color:White;
}
.class-name{
  /* styling for class name in each class listing*/
  font-weight: bold;
}
.time{
  font-weight: bold;
}
.bordered{
  /*spacing for the first class listing*/
  margin-top:10px;
}
.border-top{
  /*padding for rest of the class listing*/
  padding-top: 15px;
  border-top:1px solid white;
}

/*Styling for scrollbars that appear on the page*/
.details::-webkit-scrollbar {
    width: 8px;
}

.details::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.details::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.79);
}
.test{
  margin-left: auto;
  margin-right: auto;
}

/*
*styling for footer
*/
.footer{
   clear: both;
  /*background-color: rgba(35, 35, 35, 0.77);*/
}
.links{
  /*styling for external links container or items not independently styled*/
  color:white;
}
.links a{
  /*styling for the external links provided in the footer*/
  color:rgba(113, 190, 255, 0.85);
}
.copy-right{
  margin-top:10px;
}
.copy{
  font-size:14px;
  color:white;
  font-weight: bold;
}
