#section1{

    position:relative;
 
/*    background-color:#;*/
    color:#0d1d41;
    padding-bottom:40px;
    height:500px;
    background-color: rgba(255,255,255,0.5);

}
.dummy{
    background: url("../images/mac.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size:cover;
    opacity:.4;
    height:500px;
    background-color: rgba(255,255,255,0.5);
}
#section1 h4{
  margin-left:250px;
  margin-right:250px;
}
#section2{
    padding-top: 20px;
    padding-bottom: 70px;
}
#section3{
    background-color:#C7D6E9;
    padding-top:20px;
    color:#0D1D41;
    padding-bottom:20px;
    padding-top:65px;
    height:auto;
}
#section3 h4{
    margin-bottom: 0;
    text-decoration: underline;
    font-weight:600;
}
#section3 h3{
    font-weight:600;
}
#section3 p{
    text-align: left;
    font-size: 15px;
}
.class-description{
    margin-left:15px;
    margin-right:10px;
}
.Logo{
    opacity: 1;
    position:absolute;
    bottom:-25px;
    width: 100%;
    padding-top:12px;
}
.Logo h3{
    font-size: 40px;
    text-align: center;
    color:#004bc3;
}
.drop{
    margin:0 auto;
    width:250px;

}

.week-schedule{
/*width of each box*/
  width:17%;
}


.day{
/*
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
*/
    border-bottom: 1px solid #C7D6E9;

    background-color:#C7D6E9;
    color:black;
    box-shadow: 0 3px 7px 0 #777;
}
.day h3{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    padding-top: 5px;
}
.details{
    overflow: hidden;
    text-align: center;
    font-weight: 200;
    font-size:16px;
    background-color:#f1f1f1;
    padding-bottom: 8px;
    padding-right:2px;
    border-top-style: none;
/*
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
*/
    box-shadow: 0 3px 7px 0 #777;

/*                font-family: 'Roboto', sans-serif;*/
    color:black;
}
.location{

}
.date{
    font-size: 14px;
}
.time{

}
.class-list{
    width:60%;
    float:left;
    border-top:1px solid #B5B0A4;
}
.social-media{
    width:40%;
    float:right;
    border-top:1px solid #B5B0A4;

}
.check-in{
    width:40%;
    float:right;
    border-top:1px solid #b5b0a4;
}
.info{
    padding-top: 3px;
    margin-left: 5px;
}

/*
*   mobile view for data in section 2
*/
@media (max-width: 992px) AND (min-width:769px) {
   
/*
    .schedule-container{
        margin-left:auto;
        margin-right: auto;
    }
*/
    .week-schedule{
        margin-left:auto;
        margin-right:auto;
        width:40%;
    }
    .details{
        font-size: 20px;

    }
    .day h3{
        font-size:40px;
    }
    #section2{
        height:auto;
    }
    #section1 h4{
      margin-left:auto;
      margin-right:auto;
    }
    #section3{
        height: auto;
    }
}
@media (max-width: 768px) AND (min-width: 320px){
/*
    .schedule-container{
        margin-left:auto;
        margin-right: auto;
    }
*/
    .week-schedule{
        margin-left:auto;
        margin-right:auto;
        width:65%;
    }
    .details{
        font-size: 20px;

    }
    .day h3{
        font-size:40px;
    }
    #section2{
        height:auto;
    }
    #section1 h4{
      margin-left:auto;
      margin-right:auto;
    }

}
/*iphone 4, 5 screens*/
@media (max-width: 320px){
/*
    .schedule-container{
        margin-left:auto;
        margin-right: auto;
    }
*/
    .week-schedule{
        margin-left:auto;
        margin-right:auto;
        width:95%;
    }
    .details{
        font-size: 20px;

    }
    .day h3{
        font-size:40px;
    }
    #section2{
        height:auto;
    }
    #section1 h4{
      margin-left:auto;
      margin-right:auto;
    }

}

/*Social Media css*/
.social-buttons{
    background: #155b9d;
    height:29px;
    width:29px;
    cursor:pointer;
    transition: transform .7s;
    transform:rotate(45deg);
    margin-top:10px;
     float:right;
    margin-right:25px;
}
.social-buttons a{
    display:block;
    padding-top:4px;
    color:white;
    width:25px;
    -webkit-transform: rotate(-45deg);
    transform:rotate(-45deg);
   
}
.social-buttons:hover{
    background-color:#2d4373;
    color:white;
    cursor:pointer
}
.social-buttons-twitter{
    background: #00aced;
    height:29px;
    width:29px;
    cursor:pointer;
    transition: transform .7s;
    transform:rotate(45deg);
    margin-top:10px;
    float:right;
    margin-right:20px;
}
.social-buttons-twitter a{
    display:block;
    padding-top:4px;
    color:white;
    width:25px;
    -webkit-transform: rotate(-45deg);
    transform:rotate(-45deg);
}
.social-buttons-twitter:hover{
    background-color:#0087ba;
    color:white;
    cursor:pointer
}

