
/* fixes a bug where jqueryUI create a thin div at bottom of page */
#ui-datepicker-div {display: none;}
.panel{
  margin-left: auto;
  margin-right:auto;
}
@media(min-width:1200px){
  .panel{
    width:70%;
  }
}
@media (max-width:992px){
  .panel{
    width:60%;
  }
}
/*fix for user account dropdown not showing in mobile view*/
@media (max-width:768px){
    .navbar-top-links .dropdown-user{
        right:auto;
        left:0;
    }
    .sidebar .sidebar-nav.navbar-collapse{
        display:none;
        transition-duration:0.5s;
        transition-timing-function: ease-in;
    }
    .sidebar-nav.navbar-collapse.in{
        overflow-y: hidden;
        transition-duration:2s;
        transition-timing-function: ease-in;
        display:inline;
    }
    .sidebar-nav.navbar-collapse.collapsing{
        overflow-y: hidden;
        transition-duration:2s;
        transition-timing-function: ease-in;
    }
    /*.panel{
        margin-right: auto;
        margin-left:auto;
        width:70%;
    }*/

}
@media (min-width:768px){
  .dropdown.open>ul.dropdown-menu.dropdown-user{
    transition-duration:3s;
    transition-timing-function: ease-in;
  }
    .navbar-top-links .dropdown-user{
        right:0;
        left:auto;
    }
    /*.panel{
        margin-right: auto;
        margin-left:auto;
        width:60%;
    }*/
}



/*Create fitness class styling*/
.success{
    color:green;
}
.form-control{
}
.form-group{
    width:100%;
}
#extra{
    width:40%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;

}
.submit{
    width:40%;
    margin-left:auto;
    margin-right:auto;
}
.submit>input{
    float:right;
}
.title{
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
.title h2{
    text-align: center;
}


.batch-label{
    margin-top: 5px;

    font-size:16px;
}
.table-responsive{
  margin-top: 15px;
}
#batch-delete-on,#batch-delete-off{
    font-size:16px;
}
.batch-delete-button{
    margin-bottom:15px;
    margin-top:10px;
    margin-left:20px;
}
.batch-delete-button a{
    font-size:16px;
}

/*                  */
/*      side nav     */
/*                  */


.nav > li > a {
    color: black;
}
