
/* fixes a bug where jqueryUI create a thin div at bottom of page */
#ui-datepicker-div {display: none;}
.panel{
  margin-left: auto;
  margin-right:auto;
}
.panel-orange{
  background-color:#34E0C2;
  color:white;
}
.page-header{
  margin: 15px 0 20px;
}
@media(min-width:1200px){
  .panel{
    width:80%;
  }
}
@media (max-width:992px){
  .panel{
    width:60%;
  }
}
.dash-text{
  color:#337ab7;
}
.user-links{
  margin-top:35px;
}
.user-links>a:{
  text-decoration: underline;
}
hr{
  margin-top:0 !important;
}
.clearBtn{
  margin-top:15px;
  margin-bottom:15px;
}
#email-list-form{
  margin-bottom: 15px;
}
.btn-email-list{
  background-color: #47B2FF;
  color:white;
  border-radius:0 !important;
}
.btn-email-list:hover,.btn-email-list:active, .btn-email-list:focus{
  color:white;
}
.btn-class-type{
  background-color: #47B2FF;
  color:white;
  border-radius:0 !important;
}
.btn-class-type:hover,.btn-class-type:focus{
  color:white;
}
#myTable_wrapper{
  margin-top:10px;
}
button.dt-button, div.dt-button, a.dt-button{
  background-color:#E0E0E0 !important;
  background-image:none !important;
  border-radius:0 !important;
  border: 1px solid #B1B1B1 !important;
}
/*fix for user account dropdown not showing in mobile view*/
@media (max-width:767px){
    .navbar-top-links .dropdown-user{
        right:auto;
        left:0;
    }
    .sidebar .sidebar-nav.navbar-collapse{
        display:none;
        transition-duration:0.5s;
        transition-timing-function: ease-in;
    }
    .sidebar-nav.navbar-collapse.in{
        overflow-y: hidden;
        transition-duration:2s;
        transition-timing-function: ease-in;
        display:inline;
    }
    .sidebar-nav.navbar-collapse.collapsing{
        overflow-y: hidden;
        transition-duration:2s;
        transition-timing-function: ease-in;
    }
}
@media (min-width:767px){
  .dropdown.open>ul.dropdown-menu.dropdown-user{
    transition-duration:3s;
    transition-timing-function: ease-in;
  }
    .navbar-top-links .dropdown-user{
        right:0;
        left:auto;
    }
}



/*Create fitness class styling*/
.success{
    color:green;
}
.form-control{
}
.form-group{
    width:100%;
}
#extra{
    width:40%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;

}
.submit{
    width:40%;
    margin-left:auto;
    margin-right:auto;
}
.submit>input{
    float:right;
}
.title{
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
.title h2{
    text-align: center;
}


.batch-label{
    margin-top: 5px;

    font-size:16px;
}
.table-responsive{
  margin-top: 15px;
}
#batch-delete-on,#batch-delete-off{
    font-size:16px;
}
.batch-delete-button{
    margin-bottom:15px;
    margin-top:10px;
    margin-left:20px;
}
.batch-delete-button a{
    font-size:16px;
}

/*                  */
/*      side nav     */
/*                  */


.nav > li > a {
    color: black;
}

/* create a class type view */
.classtype-input{
  margin-bottom:10px !important;
}
.errors-classtypes{
  width:250px;
  margin-top:5px;
  margin-bottom:10px;
}
.space{

}

/* Fitness class schedule view css*/
.edit-group{
  width:100%;
}
.edit-label{
  min-width:20%;
}
@media (max-width:767px){
  .edit-label{
    min-width:30%;
  }
}
.edit-input{
  display:inline-block !important;
  margin-bottom:10px;
  height:40px;
  border:1px solid #BFBFBF !important;
  box-shadow: 0 1px 1px 0px #ccc;
  width:65%;
  margin-left:auto;
  margin-right:auto;
}

/* User account settings CSS*/
.username-form{
  margin-top: 25px;
  margin-bottom:30px;
}
.error-user{
  color:red;
  margin-bottom:10px;
}
.password-form{
  margin-top:10px;
}
.form-container{
  background-color:#FAFAFA;
  box-shadow: 0 0 2px 2px rgba(117, 117, 117, 0.35);
  padding: 10px 10px;
}
.form-title p{
  text-align:center;
  font-size:18px;
  font-weight: bold;
}
.account-input{
  margin-bottom:5px;
  height:40px;
  font-size:16px;
}
.page-messages{
  font-size:16px;
}
.password-notice{
  font-size:12px;
  margin-bottom:5px;
}
.btn-change, .btn-change:hover{
  background-color:rgba(255, 59, 0, 0.74);
  color:white;
}
.unmask, .unmask:hover{
  pointer-events:auto;
  cursor:pointer !important;
  top:10px;
}
/*checkin (admin view) styling*/
.checkin-box{
  height:309px;
  box-shadow: 2px 2px 2px 0px #ccc;
  background-color:#FAFAFA;
}

/*User manual CSS*/
.task {
    font-size: 150%;
}

.workflow {
  font-size: 14px;
  font-weight:bold;
